<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdwfvc.android.wudianzong">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wudianzong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sdwfvc.android.wudianzong.login"/>
        <activity android:name="com.sdwfvc.android.wudianzong.zhuce"/>
        <activity android:name="com.sdwfvc.android.wudianzong.MainActivity"/>
        <activity android:name="com.sdwfvc.android.wudianzong.presentation"/>
        <activity android:name="com.sdwfvc.android.wudianzong.kaijijiemian">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>